body {
  padding-top: 10vh;
  width: 80vw;
  height: 10vh;
  margin: auto;
  background-color: #cff2ef;
}

#requestHeader {
  text-align: center;
  font-size: 7vw;
}
#request,
#response,
footer {
  color: #1a535c;
}
#response {
  color: #1a535c;
}
#rhymeNode {
  font-size: 5vw;
}

#errorText {
  color: #ff6b6b;
}

footer {
  position: fixed;
  bottom: 0vh;
  left: 0vw;
  color: #1a535c;
}
